html {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

body {
  min-height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.page-container {
  position: absolute;
  top: 7.2rem;
  z-index: 1;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: 0.417rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.02rem;
}

a {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
}

table {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.flex {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.hide {
  display: none;
}

.show-for-mobile {
  display: none;
}
@media only screen and (max-width: 45.2em) {
  .show-for-mobile {
    display: block;
  }
}

.text-center {
  text-align: center;
}

.banner {
  display: flex;
}
@media only screen and (min-width: 45.2em) {
  .banner {
    height: 65rem;
  }
}
@media only screen and (max-width: 45.2em) {
  .banner {
    flex-direction: column-reverse;
  }
}
.banner:first-child {
  color: #FFFFFF;
  background-color: #0073d2;
}
.banner:first-child .banner__left {
  position: relative;
}
@media only screen and (max-width: 45.2em) {
  .banner:first-child .banner__left::after {
    content: "";
    position: absolute;
    height: 0.6rem;
    width: 25%;
    margin-left: 3.3rem;
    background-image: linear-gradient(192deg, #5A77FF, #BC7198, #FFC593);
    top: 0;
    left: 0;
  }
}
.banner:first-child .banner__left .banner__text {
  position: relative;
}
.banner:first-child .banner__left .banner__text::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 0.6rem;
  background-image: linear-gradient(180deg, #5A77FF, #BC7198, #FFC593);
  left: 0;
}
@media only screen and (max-width: 45.2em) {
  .banner:first-child .banner__left .banner__text::before {
    display: none;
  }
}
.banner--reverse {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 45.2em) {
  .banner--reverse {
    flex-direction: column-reverse;
  }
}
.banner__left {
  flex: 1 1 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 45.2em) {
  .banner__left {
    flex: auto;
  }
}
.banner__right {
  flex: 3 4 auto;
}
@media only screen and (max-width: 45.2em) {
  .banner__right {
    flex: auto;
  }
}
.banner__right img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__text {
  padding: 0 11.2rem;
  margin: 17.3rem 0;
}
@media only screen and (max-width: 81.3em) {
  .banner__text {
    padding: 0 5.4rem;
    margin: 17.3rem 0;
  }
}
@media only screen and (max-width: 45.2em) {
  .banner__text {
    padding: 0 3.3rem;
    margin: 7.2rem 0;
  }
}
.banner__text h1 {
  text-transform: uppercase;
  margin-bottom: 2.1rem;
}
@media only screen and (max-width: 52.4em) {
  .banner__text h1 {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (max-width: 45.2em) {
  .banner__text h1 {
    font-size: 3.2rem;
  }
}
.banner__text .description {
  opacity: 75%;
  margin-bottom: 4.8rem;
}
@media only screen and (max-width: 52.4em) {
  .banner__text .description {
    margin-bottom: 2.3rem;
  }
}

.cta-banner {
  background: #0073d2, url("../../../assets/shared/desktop/bg-beta.jpg") center;
  background-size: cover;
  color: white;
  color: #0073d2;
  padding: 6.8rem 0;
  min-height: 28rem;
  position: relative;
}
@media only screen and (max-width: 59.7em) {
  .cta-banner {
    background: #0073d2, url("../../../assets/shared/desktop/bg-beta.jpg") center;
    background-size: cover;
  }
}
@media only screen and (max-width: 37.9em) {
  .cta-banner {
    background: #0073d2, url("../../../assets/shared/desktop/bg-beta.jpgs") center;
    background-size: cover;
  }
}
.cta-banner::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 0.6rem;
  background-image: linear-gradient(180deg, #5A77FF, #BC7198, #FFC593);
  left: 0;
  top: 0;
}
.cta-banner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 52.4em) {
  .cta-banner__content {
    flex-direction: column;
    align-items: start;
  }
}
.cta-banner h1 {
  text-transform: uppercase;
  max-width: 40rem;
}
@media only screen and (max-width: 52.4em) {
  .cta-banner h1 {
    margin-bottom: 2.4rem;
  }
}

.btn {
  text-align: center;
  height: 4rem;
  width: 100%;
  padding: 1.2rem 0;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.btn--header {
  width: 15.8rem;
}
@media only screen and (max-width: 45.2em) {
  .btn--header {
    width: 95%;
    padding: 1.4rem 0;
    font-size: 1.5rem;
  }
}
.btn--black {
  color: #FFFFFF;
  background-color: #0073d2;
}
.btn--black:hover {
  color: #0073d2;
  background-color: #DFDFDF;
}
.btn--white {
  color: #0073d2;
  background-color: #FFFFFF;
}
.btn--white:hover {
  background-color: #DFDFDF;
}

.hamburger-btn {
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.hamburger-btn span {
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: black;
  left: 0;
  transform-origin: center;
  transition: top 0.2s ease, transform 0.2s ease;
}
.hamburger-btn span:nth-of-type(1n) {
  top: calc(50% - 0.2rem);
}
.hamburger-btn span:nth-of-type(2n) {
  top: calc(50% + 0.2rem);
}
.hamburger-btn.open span {
  top: 50%;
  transition: top 0.1s ease, transform 0.2s ease 0.1s;
}
.hamburger-btn.open span:nth-of-type(1n) {
  transform: rotate(45deg);
}
.hamburger-btn.open span:nth-of-type(2n) {
  transform: rotate(-45deg);
}

.features {
  display: grid;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 10.4rem;
  margin: auto;
  width: 80%;
  padding: 16rem 0;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 66.9em) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    padding: 11.2rem 0;
    row-gap: 7.2rem;
  }
}
@media only screen and (max-width: 37.9em) {
  .features {
    grid-template-columns: repeat(1, 1fr);
    padding: 6.4rem 0;
    row-gap: 5.6em;
    max-width: 41.5rem;
  }
}
.features--home {
  padding: 12rem 0;
}
@media only screen and (max-width: 66.9em) {
  .features--home {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 52.4em) {
  .features--home {
    padding: 8rem 0;
    grid-template-columns: repeat(1, 1fr);
    max-width: 41.5rem;
  }
}
.features .feature {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.features .feature__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.2rem;
  margin-bottom: 4.8rem;
}
.features .feature__text {
  display: flex;
  flex-direction: column;
}
.features .feature__text h3 {
  margin-bottom: 1.6rem;
}
.features .feature__text p {
  opacity: 60%;
}

.link {
  display: inline-flex;
}
.link::after {
  margin-left: 1.8rem;
  transition: transform 0.2s ease;
}
.link--black::after {
  content: url("../../assets/shared/desktop/arrow-black.svg");
}
.link--white::after {
  content: url("../../assets/shared/desktop/arrow-white.svg");
}
.link:hover::after {
  transform: translateX(1rem);
}
.link:hover {
  text-decoration: underline;
}

.story-link {
  display: flex;
  justify-content: space-between;
}

.stories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 66.9em) {
  .stories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.9em) {
  .stories {
    grid-template-columns: 1fr;
  }
}
.stories .story {
  position: relative;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
  height: 50rem;
}
@media only screen and (max-width: 52.4em) {
  .stories .story {
    height: 37.5rem;
  }
}
@media only screen and (max-width: 37.9em) {
  .stories .story {
    height: 50rem;
  }
}
@media only screen and (max-width: 23.4em) {
  .stories .story {
    height: 37.5rem;
  }
}
.stories .story::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.6rem;
  width: 100%;
  background-image: linear-gradient(150deg, #5A77FF, #BC7198, #FFC593);
  display: none;
}
.stories .story:hover {
  transform: translateY(-2.4rem);
}
.stories .story:hover::after {
  display: block;
}
.stories .story__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 4rem;
  z-index: 1;
}
@media only screen and (max-width: 52.4em) {
  .stories .story__text {
    padding: 3.3rem;
  }
}
.stories .story__text h3 {
  margin-bottom: 0.4rem;
}
.stories .story__text p {
  font-size: 1.3rem;
}
.stories .story__text hr {
  color: #DFDFDF;
  opacity: 25%;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}
.stories .story__text .date {
  margin-bottom: 0.4rem;
}
.stories .story--1 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/mountains.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--1 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/mountains.jpg");
  }
}
.stories .story--2 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/cityscapes.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--2 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/cityscapes.jpg");
  }
}
.stories .story--3 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/18-days-voyage.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--3 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/18-days-voyage.jpg");
  }
}
.stories .story--4 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/architecturals.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--4 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/architecturals.jpg");
  }
}
.stories .story--5 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/world-tour.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--5 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/world-tour.jpg");
  }
}
.stories .story--6 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/unforeseen-corners.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--6 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/unforeseen-corners.jpg");
  }
}
.stories .story--7 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/king-on-africa.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--7 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/king-on-africa.jpg");
  }
}
.stories .story--8 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/trip-to-nowhere.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--8 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/trip-to-nowhere.jpg");
  }
}
.stories .story--9 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/rage-of-the-sea.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--9 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/rage-of-the-sea.jpg");
  }
}
.stories .story--10 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/running-free.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--10 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/running-free.jpg");
  }
}
.stories .story--11 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/behind-the-waves.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--11 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/behind-the-waves.jpg");
  }
}
.stories .story--12 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/calm-waters.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--12 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/calm-waters.jpg");
  }
}
.stories .story--13 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/milky-way.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--13 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/milky-way.jpg");
  }
}
.stories .story--14 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/dark-forest.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--14 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/dark-forest.jpg");
  }
}
.stories .story--15 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/somwarpet.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--15 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/somwarpet.jpg");
  }
}
.stories .story--16 {
  background: black linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/desktop/land-of-dreams.jpg") no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 37.9em) {
  .stories .story--16 {
    background-image: linear-gradient(to bottom, transparent, #0073d2), url("../../assets/stories/mobile/land-of-dreams.jpg");
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 6.4rem;
  height: 3.2rem;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DFDFDF;
  border-radius: 16;
  transition: 0.2s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  background-color: #0073d2;
  border-radius: 50%;
  left: 0.4rem;
  bottom: 0.4rem;
  transition: 0.2s;
}
.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}
.switch input:checked + .slider {
  background-color: #0073d2;
}
.switch input:checked + .slider:before {
  transform: translateX(3.2rem);
  background-color: #FFFFFF;
}

.footer {
  background-color: #0073d2;
  padding: 6.4rem 0;
}
.footer__content {
  color: white;
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(min-content, 3fr) minmax(max-content, 1fr);
  grid-template-rows: 5rem 9rem min-content;
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 52.4em) {
  .footer__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
  }
}
.footer__content p {
  opacity: 50.25%;
  text-align: center;
}
.footer__content .logos-container {
  display: flex;
  justify-content: space-between;
  width: 15.3rem;
  height: 2rem;
}
@media only screen and (max-width: 52.4em) {
  .footer__content .logos-container {
    margin-bottom: 4.9rem;
  }
}
.footer__content .logos-container .logo-container {
  width: 2rem;
  height: 2rem;
  position: relative;
}
.footer__content .logos-container .logo-container a {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.footer__content .logos-container .logo-container a:first-of-type {
  z-index: 1;
}
.footer__content .logos-container .logo-container a:first-of-type:hover {
  transition: 0.2s;
  opacity: 0;
}
.footer__item--1 {
  grid-column: 1;
}
.footer__item--2 {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
.footer__item--3 {
  grid-column: 2/span 1;
  grid-row: 1/span 3;
  margin-left: 10rem;
}
@media only screen and (max-width: 66.9em) {
  .footer__item--3 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    margin-left: 0;
  }
}
.footer__item--4 {
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  justify-self: end;
}
.footer__item--5 {
  grid-column: 3/span 1;
  grid-row: 3/span 1;
  justify-self: end;
}
@media only screen and (max-width: 52.4em) {
  .footer__item {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
  }
  .footer__item--1 {
    height: 4.8rem;
  }
  .footer__item--2 {
    height: 6.9rem;
  }
  .footer__item--3 {
    height: 24rem;
  }
  .footer__item--4 {
    height: 5rem;
  }
}

.header {
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 1.6rem 0;
  height: 7.2rem;
  transition: height 0.3s ease-out;
}
@media only screen and (max-width: 45.2em) {
  .header.menu-drop {
    height: 33.5rem;
  }
  .header--mobile {
    height: 4rem;
    width: 95%;
    justify-content: space-between;
  }
}
.header__content {
  margin: auto;
  width: 89%;
}
.header__content hr {
  width: 95%;
  margin: 2rem 0;
  opacity: 25%;
}
@media only screen and (max-width: 45.2em) {
  .header__content {
    flex-direction: column;
  }
}

.nav-header {
  width: 20%;
  min-width: 24rem;
}
@media only screen and (max-width: 45.2em) {
  .nav-header__list {
    flex-direction: column;
    margin-top: 3.2rem;
  }
  .nav-header__list li {
    text-align: center;
  }
  .nav-header__list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .nav-header__list a {
    font-size: 1.5rem;
  }
}
.nav-header a:hover {
  transition: 0.2s ease;
  color: #DFDFDF;
}
.nav-header a.selected {
  color: #DFDFDF;
}

.nav-footer {
  height: 100%;
}
@media only screen and (max-width: 66.9em) {
  .nav-footer {
    height: auto;
    width: 31.5rem;
  }
}
@media only screen and (max-width: 52.4em) {
  .nav-footer {
    height: auto;
    width: 100%;
  }
}
.nav-footer__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 66.9em) {
  .nav-footer__list {
    flex-direction: row;
  }
}
@media only screen and (max-width: 52.4em) {
  .nav-footer__list {
    flex-direction: column;
  }
  .nav-footer__list li {
    text-align: center;
  }
  .nav-footer__list li:not(:last-child) {
    margin-bottom: 1.9rem;
  }
}
.nav-footer a:hover {
  transition: 0.2s ease;
  opacity: 30%;
}
.nav-footer a.selected {
  opacity: 30%;
}

.features-page .banner img {
  -o-object-position: left;
     object-position: left;
}

.about__row {
  display: flex;
}
@media only screen and (max-width: 52.4em) {
  .about__row {
    height: auto;
    flex-direction: column-reverse;
  }
  .about__row:nth-child(2) {
    flex-direction: column;
  }
}
.about__row--first .about__col-1 {
  position: relative;
  color: #FFFFFF;
  background-color: #0073d2;
}
@media only screen and (max-width: 52.4em) {
  .about__row--first .about__col-1::after {
    content: "";
    height: 0.6rem;
    width: 25%;
    margin-left: 3.3rem;
    background-image: linear-gradient(192deg, #5A77FF, #BC7198, #FFC593);
    top: 0;
    left: 0;
    position: absolute;
  }
}
.about__row--first .about__description {
  border-left: 0.6rem solid;
  -o-border-image: linear-gradient(180deg, #5A77FF, #BC7198, #FFC593) 1;
     border-image: linear-gradient(180deg, #5A77FF, #BC7198, #FFC593) 1;
  padding-left: 10.6rem;
}
@media only screen and (max-width: 81.3em) {
  .about__row--first .about__description {
    padding-left: 4.8rem;
  }
}
@media only screen and (max-width: 52.4em) {
  .about__row--first .about__description {
    border-left: 0;
  }
}
.about__col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 60rem;
}
@media only screen and (max-width: 52.4em) {
  .about__col-1 {
    flex: 1 0 auto;
  }
}
.about__col-2 {
  flex: 3 4 auto;
}
@media only screen and (max-width: 52.4em) {
  .about__col-2 {
    flex: 1 0 auto;
  }
}
.about__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__description {
  padding: 0 11.2rem;
  margin: 17.3rem 0;
}
@media only screen and (max-width: 81.3em) {
  .about__description {
    padding: 0 5.4rem;
    margin: 17.3rem 0;
  }
}
@media only screen and (max-width: 52.4em) {
  .about__description {
    margin: 7.2rem 0;
  }
}
@media only screen and (max-width: 37.9em) {
  .about__description {
    padding: 0 3.3rem;
  }
}
.about__description h1 {
  text-transform: uppercase;
  margin-bottom: 2.1rem;
}
@media only screen and (max-width: 52.4em) {
  .about__description h1 {
    margin-bottom: 1.6rem;
  }
}
.about__description p {
  opacity: 60%;
  margin-bottom: 4.8rem;
}
@media only screen and (max-width: 52.4em) {
  .about__description p {
    margin-bottom: 2.3rem;
  }
}

.img {
  width: 190px;
}

.flag {
  width: 50px;
  height: 32px;
  padding-right: 1rem;
  margin: auto;
  vertical-align: middle;
}

.pricing {
  margin-top: 12rem;
}
@media only screen and (max-width: 66.9em) {
  .pricing {
    margin-top: 6.4rem;
  }
}

.plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
@media only screen and (max-width: 81.3em) {
  .plans {
    width: 90%;
  }
}
@media only screen and (max-width: 37.9em) {
  .plans {
    width: 85%;
  }
}
@media only screen and (max-width: 66.9em) {
  .plans {
    flex-direction: column;
    margin: auto;
  }
}

.plan {
  background-color: #F5F5F5;
  text-align: center;
  height: 40.7rem;
  padding: 4rem;
  padding-top: 5.6rem;
  width: 31.5%;
  display: grid;
  grid-template-columns: 39% min-content;
  justify-content: space-between;
  align-content: space-between;
}
.plan * {
  grid-column: 1/span 2;
}
@media only screen and (max-width: 66.9em) {
  .plan {
    width: 100%;
    height: 27rem;
    padding: 4rem;
  }
  .plan:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  .plan__description {
    grid-column: 1/span 1;
    text-align: left;
  }
  .plan__rate {
    grid-column: 2/span 1;
    text-align: right;
  }
  .plan a {
    grid-column: 1/span 1;
  }
}
@media only screen and (max-width: 59.7em) {
  .plan {
    height: 30rem;
  }
}
@media only screen and (max-width: 37.9em) {
  .plan {
    height: 40rem;
  }
}
@media only screen and (max-width: 23.4em) {
  .plan {
    height: 47rem;
    padding: 4rem 2rem;
  }
}
@media only screen and (max-width: 45.2em) {
  .plan {
    grid-template-columns: 45% min-content;
  }
}
@media only screen and (max-width: 37.9em) {
  .plan * {
    grid-column: 1/span 2;
    text-align: center;
  }
  .plan a {
    grid-column: 1/span 2;
  }
}
.plan__description h2 {
  margin-bottom: 1.8rem;
}
.plan__description p {
  opacity: 60%;
}
.plan--pro {
  color: white;
  background-color: #0073d2;
  height: 47rem;
  padding-top: 8.8rem;
  padding-bottom: 7.1rem;
  position: relative;
}
@media only screen and (max-width: 66.9em) {
  .plan--pro {
    height: 27rem;
    padding: 4rem;
  }
}
@media only screen and (max-width: 59.7em) {
  .plan--pro {
    height: 30rem;
    padding: 4rem;
  }
}
@media only screen and (max-width: 37.9em) {
  .plan--pro {
    height: 40rem;
  }
}
@media only screen and (max-width: 23.4em) {
  .plan--pro {
    height: 47rem;
  }
}
.plan--pro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.6rem;
  background-image: linear-gradient(192deg, #5A77FF, #BC7198, #FFC593);
  top: 0;
  left: 0;
}
@media only screen and (max-width: 66.9em) {
  .plan--pro::before {
    width: 0.6rem;
    height: 100%;
  }
}

.plan-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25.5rem;
  margin: auto;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}
.plan-switch__label {
  opacity: 50%;
  transition: 0.2s;
}
.plan-switch .selected {
  opacity: 100%;
}
@media only screen and (max-width: 66.9em) {
  .plan-switch {
    margin-bottom: 4rem;
  }
}

.comparison {
  margin: 5rem 0;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 66.9em) {
  .comparison {
    margin: 11.2rem 0;
  }
}
@media only screen and (max-width: 37.9em) {
  .comparison {
    margin: 6.4rem 0;
  }
}
.comparison h1 {
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 37.9em) {
  .comparison h1 {
    display: none;
  }
}

p {
  margin-bottom: 2rem;
  color: #0073d2;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 8px;
}
@media only screen and (max-width: 37.9em) {
  p {
    display: none;
  }
}

.compare-table {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
}
.compare-table td:hover {
  font-size: 12.3px;
  color: black;
  background-color: #12e7d2;
  box-shadow: 0px 9px 4px -6px grey;
  cursor: pointer;
}
.compare-table:not(.for-mobile) {
  max-width: 82rem;
}
.compare-table:not(.for-mobile) tr {
  height: 6.3rem;
  border-bottom: 1px solid #e9dede;
}
.compare-table:not(.for-mobile) tr:first-child {
  height: 6.3rem;
  border-bottom: 1px solid #0073d2;
}
.compare-table:not(.for-mobile) tr:first-child:not(:last-child) {
  border-bottom: 1px solid #e9dede;
}
.compare-table:not(.for-mobile) td, .compare-table:not(.for-mobile) th {
  width: 20%;
  padding: 1rem;
}
@media only screen and (max-width: 37.9em) {
  .compare-table:not(.for-mobile) {
    display: none;
  }
}
.compare-table.for-mobile {
  width: 70%;
  margin: 0 auto;
}
.compare-table.for-mobile h2 {
  margin-bottom: 2rem;
  text-align: center;
}
.compare-table.for-mobile h3 {
  font-size: 14px;
  color: rgb(102, 102, 102);
  margin-bottom: 2rem;
  text-align: center;
}
.compare-table.for-mobile select {
  width: 100%;
  padding: 1rem;
  background-color: #12e7d2;
  box-shadow: 0px 7px 4px -6px grey;
  border: 1px solid #0073d2;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
}
.compare-table.for-mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.compare-table.for-mobile ul li {
  padding: 1rem;
  border: 1px solid #dfd7d7;
  margin-bottom: 5px;
}
.compare-table.for-mobile li:hover {
  color: black;
  background-color: #12e7d2;
  box-shadow: 0px 9px 4px -6px grey;
  cursor: pointer;
}
@media only screen and (min-width: 37.9em) {
  .compare-table.for-mobile {
    display: none;
  }
}

.body {
  background: linear-gradient(to top, rgba(0, 115, 210, 0.8), rgba(1, 27, 48, 0.8)), url(/assets/pricing/desktop/banner.jpg) no-repeat top center;
  font-size: 2vmin;
  height: 600px;
  background-position: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #12e7d2;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: "";
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: "";
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  transform: translate(-40vmin, 5vmin);
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}
/* Media query for mobile */
@media screen and (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .string {
    padding-top: 6rem;
  }
  .closure {
    display: none;
  }
}
.stories-page .banner {
  background: #0073d2, url(../../assets/stories/desktop/moon-of-appalacia.jpg) no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 59.7em) {
  .stories-page .banner {
    background-image: url(../../assets/stories/tablet/moon-of-appalacia.jpg);
  }
}
@media only screen and (max-width: 45.2em) {
  .stories-page .banner {
    background: #0073d2;
  }
}
.stories-page .banner__left::after {
  display: none !important;
}
.stories-page .banner__right {
  width: 100%;
}
.stories-page .banner__right img {
  display: none;
}
@media only screen and (max-width: 45.2em) {
  .stories-page .banner__right img {
    display: block;
  }
}
.stories-page .banner__text {
  margin: 12.2rem 0;
  padding-right: 0;
}
@media only screen and (max-width: 45.2em) {
  .stories-page .banner__text {
    margin: 4.8rem 0;
  }
}
.stories-page .banner__text *:not(:last-child) {
  margin-bottom: 2.4rem;
}
.stories-page .banner__text h4 {
  text-transform: uppercase;
}
.stories-page .banner__text h1 {
  margin-bottom: 1.6rem !important;
}
.stories-page .banner__text .date {
  opacity: 0.75;
}
.stories-page .banner__text::before {
  display: none !important;
}/*# sourceMappingURL=main.css.map */