.footer {
    width: 100%;

    &__container {
        width: 100%;
        background: linear-gradient(to right, #0073d2, #004e91);
        color: #fff;
        padding: 100px 0 30px;
        font-size: 13px;
        line-height: 20px;
    }

    &__text, &__title, &__phone {
        font-size: inherit;
        color: white;
        margin: 0;
        padding: 0;
    }

    &__row {
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__col {
        flex-basis: 25%;
        padding: 10px;

        &:nth-child(2), &:nth-child(3) {
            flex-basis: 15%;
        }

        h3 {
            width: fit-content;
            margin-bottom: 40px;
            position: relative;
        }
    }

    &__logo {
        width: 180px;
        margin-bottom: 30px;
    }

    &__email {
        width: fit-content;
        margin: 20px 0;
        color: white;
    }

    &__list li {
        list-style: none;
        margin-bottom: 12px;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    form {
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;

        .far {
            font-size: 18px;
            margin-right: 10px;
        }

        input {
            width: 100%;
            font-family: inherit;
            background: transparent;
            color: #fff;
            border: 0;
            outline: none;

            ::placeholder {
            color: white
            }
        }

        button {
            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;

            .fas, .far {
            font-size: 16px;
            color: #fff;
            }
        }
    }

    &__social-icons .fab {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #0073d2;
        background: #fff;
        margin-right: 15px;
        cursor: pointer;
    }

    hr {
        width: 90%;
        border: 0;
        border-bottom: 1px solid #fff;
        margin: 20px auto;
    }

    &__copyright {
        text-align: center;
        color: white;
    }

    &__underline {
        width: 100%;
        height: 5px;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;

        span {
            width: 15px;
            height: 100%;
            background: #12e7d2;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 10px;
            animation: moving 2s linear infinite;
        }
    }

    @keyframes moving {
        0% {
            left: -20px;
        }
        100% {
            left: 100%;
        }
    }

    @media (max-width: 708px) {

        &__logo {
            width: 180px;
            margin: 0 auto;
            padding-bottom: 3rem;
            display: block;
        }

        &__text,
        &__title,
        &__phone,
        &__email {
            display: block;
        }
    
        &__title {
            margin-top: 20px;
        }

        &__col {
            flex-basis: 100%;
            padding: 5px;

            &:nth-child(2),
            &:nth-child(3) {
            display: block;
            flex-basis: 100%;
            }
        }

        &__social-icons {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}